UploadServer/.build/
UploadServer/uploads/
ResumableUploadApp/ResumableUploadApp.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
launch.json
BuildingAResumableUploadServerWithSwiftNIO/Dependencies/swift-http-types/Package.resolved
